<form action="/register" method="POST" class="h-screen flex flex-col gap-3 w-xs mx-auto max-w-xs justify-center items-center">

    <h1 class="text-2xl text-neutral-500 p-4">Register</h1>

    <input name="name" type="text" placeholder="Name" class="input input-bordered w-full max-w-xs" />
    <input name="surname" type="text" placeholder="Surname" class="input input-bordered w-full max-w-xs" />

    <input name="username" type="text" placeholder="Username" class="input input-bordered w-full max-w-xs" />
    <input name="password" type="password" placeholder="Password" class="input input-bordered w-full max-w-xs" />

    <button class="btn btn-primary w-full">Login</button>
</form>